body{
    margin: 0;
    padding: 0;
}

#logo{
    width: 50%;
    height: 50%;
}
#panier{
    width: 35px;
    height: 35px;
}
#banniere{
    width: 600px;
    height: 600px;

}

#photoProduits{
    width: 20em;
    height: 20em;
    margin: 0 auto;
}