@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
}

#logo{
    width: 50%;
    height: 50%;
}
#panier{
    width: 35px;
    height: 35px;
}
#banniere{
    width: 600px;
    height: 600px;

}

#photoProduits{
    width: 20em;
    height: 20em;
    margin: 0 auto;
}

.product-title{
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
}
.card-img-top{
    cursor: pointer;
}
.view-details {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s linear;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: transparent;
    border: none;
}

.view-details > svg {
    margin-left: 5px;
    transition: all 0.4s ease-in;
}

.view-details:hover > svg {
    font-size: 1.2em;
    transform: translateX(6px);
}

.view-details:hover {
    box-shadow: 10px 10px 40px #d1d1d1;
    transform: translateY(-5px);
}

/*Bouton ajoutez au panier*/
.cartBtn {
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    color: white;
    font-weight: 500;
    position: relative;
    background-color: rgb(29, 29, 29);
    box-shadow: 0 20px 30px -7px rgba(27, 27, 27, 0.219);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    overflow: hidden;
}

.cart {
    z-index: 2;
}

.cartBtn:active {
    transform: scale(0.96);
}

.product {
    position: absolute;
    width: 12px;
    border-radius: 3px;
    content: "";
    left: 23px;
    bottom: 23px;
    opacity: 0;
    z-index: 1;
    fill: rgb(211, 211, 211);
}

.cartBtn:hover .product {
    animation: slide-in-top 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-30px);
        opacity: 1;
    }

    100% {
        transform: translateY(0) rotate(-90deg);
        opacity: 1;
    }
}

.cartBtn:hover .cart {
    animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-10px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

#titreCatalogue{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 35px;
}

.card{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;

}